* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://image.cdn2.seaart.ai/2023-08-17/14571535558775813/27497c09115f6e683b6e66774b2c334e90af0fb8_high.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f400;
}

.calculator {
    background-color: #f0d1fc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: solid;
    border-color: #000000;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    text-align: right;
    margin-bottom: 10px;
    border: none;
    background-color: #ffffff;
    border: solid;
    border-color: #000;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
}

button {
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.9s ease-in-out;
    border: solid;
    border-color: #ffcfcf;
}

button:hover {
    padding: 10px;
    background-color: #ffffff;
    transform: rotate(360deg);
    font-size: 2.5rem;
    color: #000;
}
.calculator:hover{
    background-color: #fce7e7;
}
